/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/page";
@import "./blocks/button.scss";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/nav";
@import "./blocks/site-list";
@import "./blocks/hero";
@import "./blocks/advantages";
@import "./blocks/section-title";
@import "./blocks/how-it-work";
@import "./blocks/live-example";
@import "./blocks/catalog";
@import "./blocks/card.scss";
@import "./blocks/additional";
@import "./blocks/subscribe";
@import "./blocks/contacts";
@import "./blocks/footer";
@import "./blocks/social"
