//

.additional {
  overflow-x: hidden;
}

.additional__wrapper {
  position: relative;

  @include mobile {
    margin-top: 17px;
    margin-bottom: 36px;
  }

  @include tablet {
    margin-top: 70px;
    margin-bottom: 76px;
  }

  @include desktop {
    margin-top: 70px;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}


.additional__title {
  @include font-info($primary-font, 24px, 37px);
  display: block;
  background-color: $bg-color-primary;
  margin: 0;
  padding: 0 23px 0 0;
  width: fit-content;

  @include mobile {
    margin-bottom: 28px;
    padding-right: 41px;
  }

  @include tablet {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0 40px;
  }

  @include desktop {
    margin-left: -40px;
    margin-bottom: 79px;
    margin-right: 0;
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/3;
  }

  &::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: $bg-color-accent;
    z-index: -1;
    top: 16px;

    @include tablet {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.additional__list {
  @include list-base;
  display: grid;

  @include mobile {
    margin-bottom: 35px;
  }

  @include tablet {
    margin-bottom: 68px;
  }

  @include desktop {
    grid-column: 1/4;
    margin-bottom: 0;
  }
}

.additional__item {
  display: grid;

  @include mobile {
    padding-top: 13px;
    padding-bottom: 19px;
    row-gap: 9px;
    border-top: 1px solid $input-color-border;
  }

  @include tablet {
    padding: 24px 37px 26px;
    border: 1px solid $input-color-border;
    border-bottom: 0;
    grid-template-columns: 1fr 1fr;
    gap: 21px 60px;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 83px;
    align-items: center;
    border: 0;
    border-top: 1px solid $input-color-border;
    padding: 0;
  }

  &:last-child {
    border-bottom: 1px solid $input-color-border;
  }
}

.additional__item-title {
  @include font-info($primary-font, 16px, 16px);
  text-transform: uppercase;
  color: $font-color-primary-alternate-accent;
  margin: 0;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 4px;
  }

  @include desktop {
    margin-bottom: 3px;
  }
}

.additional__characteristics {
  @include font-info($second-font, 14px, 20px);
  color: $font-color-accent;
  display: grid;
  margin: 0 0 3px;
  column-gap: 5px;

  @include mobile {
    grid-template-columns: auto 37px;
  }

  @include tablet {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    grid-template-columns: auto 88px;
    margin-top: 4px;
  }

  @include desktop {
    grid-template-columns: auto 100px;
    margin-right: -100px;
    margin-top: 6px;
    text-align: left;
  }
}

.additional__characteristic-name,
.additional__characteristic-value {
  margin: 0;
}

.additional__characteristic-value {
  @include mobile {
    text-align: right;
  }
}


.additional__button {
  @include tablet {
    grid-column: 1/-1;
  }

  @include desktop {
    grid-column: auto;
  }
}

.additional__gift {
  display: flex;
  background-color: $bg-color-picture-alternate;

  @include mobile {
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 290px;
    background-image:
      linear-gradient($bg-color-picture),
      image-set(
        url("../../images/catalog-bg-gift-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/catalog-bg-gift-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/catalog-bg-gift-mobile@1x.jpg") 1x type("image/jpeg"),
        url("../../images/catalog-bg-gift-mobile@2x.jpg") 2x type("image/jpeg")),
      linear-gradient(to right, $bg-color-picture-alternate);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, 280px, auto;
    position: relative;
  }

  @include tablet {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 200px;
    background-image:
      linear-gradient($bg-color-picture),
      image-set(
        url("../../images/catalog-bg-gift-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/catalog-bg-gift-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/catalog-bg-gift-tablet@1x.jpg") 1x type("image/jpeg"),
        url("../../images/catalog-bg-gift-tablet@2x.jpg") 2x type("image/jpeg")),
      linear-gradient(to right, $bg-color-picture-alternate);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, 707px, auto;
    position: relative;
  }

  @include desktop {
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 0;
    min-height: 288px;
    background-image:
      linear-gradient($bg-color-picture),
      image-set(
        url("../../images/catalog-bg-gift-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/catalog-bg-gift-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/catalog-bg-gift-desktop@1x.jpg") 1x type("image/jpeg"),
        url("../../images/catalog-bg-gift-desktop@2x.jpg") 2x type("image/jpeg")),
      linear-gradient(to right, $bg-color-picture-alternate);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, 245px, auto;
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#gift-icon");
    background-repeat: no-repeat;

    @include mobile {
      width: 76px;
      height: 81px;
      margin: 58px auto 0;
      align-self: flex-start;
    }

    @include tablet {
      width: 82px;
      height: 83px;
      margin: 56px 78px;
    }
  }
}


.additional__gift-description {
  @include font-info($second-font, 16px, 20px);
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: $font-color-second;

  @include mobile {
    padding: 0 25px 45px;
  }

  @include tablet {
    margin: 71px 127px 0;
    text-align: left;
  }

  @include desktop {
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
  }
}
