// ПРЕМУЩЕСТВА - ADVANTAGES

.advantages__list {
  @include list-base;
  display: grid;
  gap: 20px;
}

.advantages__item {
  background-color: $bg-color-second;
  display: flex;
  flex-direction: column;
  padding: 23px 20px 22px;
  gap: 19px;
  position: relative;
}

.advantages__title {
  @include font-info($primary-font, 24px, 37px);
  text-transform: uppercase;
  margin: 0;
  left: 70px;
  text-align: center;
  position: relative;

  &--fit {
    background-color: $bg-color-accent;
    border-radius: 50%;
    aspect-ratio: 1;
    position: relative;
    width: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -56%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../../icons/stack.svg#lean-cat-icon");
    }
  }

  &--fat {
    background-color: $bg-color-accent;
    border-radius: 50%;
    // aspect-ratio: 1;
    position: relative;
    width: 50px;
    height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 134%;
      transform: translate(-49%, -50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../../icons/stack.svg#strong-cat-icon");
    }
  }


  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

.advantages__description {
  @include font-info($second-font, 14px, 18px);
  color: $font-color-accent;
  position: relative;
  grid-column: 1/-1;
  margin: 4px 0 23px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: -23px;
    background-color: $border-color-second;
  }

  @include tablet() {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__button {
  grid-column: 1/-1;
  width: fit-content;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 32px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    mask-image: url("../../icons/stack.svg#arrow-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-primary;
    transition: 0.2s ease-in-out;
    margin-left: 15px;
  }
}
