//  Карточка товара в каталоге

.card {
  position: relative;

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 40px;
    row-gap: 12px;
    padding-top: 21px;
    padding-bottom: 25px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    min-height: 430px;
    padding: 37px 37px 40px;
    background-color: $bg-color-second;
    margin-top: 81px;
  }

  @include desktop {
    padding-bottom: 43px;
  }


  &::before {
    @include mobile {
      content: "";
      position: absolute;
      height: 1px;
      top: 0;
      left: -20px;
      right: -20px;
      background-color: $border-color-primary;
    }
  }
}

.card__title {
  @include font-info($primary-font, 16px, 20px);
  text-transform: uppercase;
  color: $font-color-primary-alternate-accent;
  margin: 0;

  @include mobile {
    max-width: 60%;
  }

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 14px;
  }
}

.card__characteristics-wrapper {
  @include font-info($second-font, 12px, 16px);
  text-transform: uppercase;
  color: $font-color-accent;
  display: flex;
  flex-direction: column;
  margin: 0;

  @include mobile {
    margin-top: 3px;
    margin-bottom: 8px;
  }

  @include tablet {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 33px;
  }
}

.card__characteristic {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @include tablet {
    padding: 7px 0 3px;
    border-bottom: 1px solid $input-color-border-hover;
  }

  @include desktop {
    padding: 9px 0 5px;

    &:last-child {
      padding-top: 4px;
      padding-bottom: 9px;
    }
  }
}

.card__description {
  @include font-info($second-font, 12px, 16px);
}

.card__link {
  text-decoration: none;
  color: $font-color-primary-alternate-accent;
}

.card__button {
  @include mobile {
    grid-column: 1/-1;
  }

  @include tablet {
    margin-top: auto;
  }
}
