//

.catalog__title {
  @include font-info($primary-font, 36px, 36px);
}

.catalog__list {
  @include list-base;
}

.catalog__item-show-more {
  color: $font-color-primary-alternate;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.catalog__item-title {
  @include font-info($primary-font, 16px, 20px);
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $icon-color-more;
    width: 30px;
    height: 2px;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $icon-color-more;
    width: 2px;
    height: 30px;
    top: -38px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &::before,
    &::after {
      background-color: rgba($icon-color-more, 0.6);
      transition: background-color 0.3s ease;
    }
  }
}

.catalog__item-description {
  @include font-info($second-font, 12px, 16px);
  color: $font-color-accent;
}
