//
.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__toggle {
  cursor: pointer;
  position: absolute;
  display: block;
  background-color: $bg-color-transparent;
  color: $font-color-primary;
  border: none;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 13px;
  width: 40px;
  height: 40px;
  padding: 8px 7px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    display: none;
  }
}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  background-color: $font-color-primary;
  box-shadow:
    0 8px 0 0 $font-color-primary,
    0 -8px 0 0 $font-color-primary;
}

.main-nav__toggle--opened::before,
.main-nav__toggle--opened::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: $font-color-primary;
}

.main-nav__toggle--opened::after {
  transform: translateX(-50%) rotate(45deg);
}

.main-nav__toggle--opened::before {
  transform: translateX(-50%) rotate(-45deg);
}

.main-nav__wrapper {
  @include mobile {
    width: 100%;
    right: 0;
    position: absolute;
    z-index: 1;
    // display: none;
  }

  @include tablet {
    position: relative;
  }
}

.main-nav__toggle--closed ~ .main-nav__wrapper {
  @include mobile {
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms linear, visibility 0s linear 500ms;
  }
}


.main-nav__toggle--opened ~ .main-nav__wrapper {
  @include mobile {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms linear, visibility 0s linear;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    max-width: 500px;
    flex-direction: row;
    align-items: baseline;
    row-gap: 10px;
    margin-right: -14px;
  }

  @include desktop {
    max-width: 600px;
  }
}

@include mobile {
  .main-nav--no-js {
    .main-nav__toggle {
      visibility: hidden;
    }

    .main-nav__wrapper {
      visibility: visible;
    }
  }
}
