//

.catalog__item-show-more {
  color: $font-color-primary-alternate;

  @include font-info($primary-font, 16px, 20px);
  background-image: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;

  @include mobile {
    gap: 9px;
    margin-top: 62px;
    margin-bottom: 27px;
  }

  @include tablet {
    border: 2px solid $border-color-primary;
    padding: 50px 37px 40px;
    margin-top: 95px;
  }

  @include desktop {
    margin-top: 97px;
  }

  text-transform: uppercase;
  position: relative;
  padding: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $icon-color-more;
    width: 30px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);

    @include mobile {
      top: -23px;
    }

    @include tablet {
      top: 79px;
      width: 60px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $icon-color-more;
    width: 2px;
    height: 30px;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      top: -23px;
    }

    @include tablet {
      height: 60px;
      top: 79px;
    }
  }

  &:hover {
    &::before,
    &::after {
      background-color: rgba($icon-color-more, 0.6);
      transition: background-color 0.3s ease;
    }
  }
}

.catalog__item-show-more-title {
  padding: 0;
  margin: 16px 0 0;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    margin: 0 35px 22px;
  }

  @include desktop {
    margin: 0 10px 26px;
  }
}

.catalog__item-show-more-description {
  @include font-info($second-font, 12px, 16px);
  color: $font-color-accent;
  padding: 0;
  margin: 0 0 20px;
  text-transform: none;

  @include tablet {
    font-size: 16px;
    line-height: 18px;
    margin: 0 20px 90px;
  }

  @include desktop {
    margin: 0 0 100px;
  }
}

.catalog__item-show-more .catalog__item-button {
  margin-top: -9px;
}
