//  СОЦИАЛЬНЫЕ СЕТИ

.social__list {
  @include list-base;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social__link {
  display: block;
  min-width: 28px;
  min-height: 22px;
  color: $icon-color-primary;

  &:hover {
    color: $button-bg-color-first;
  }

  &:active {
    color: rgba($button-bg-color-first, 0.3);
  }

  &--vkontakte {
    mask-image: url("../../icons/stack.svg#vkontakte-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-accent-alternate;

    &:hover {
      background-color: $bg-color-accent;
    }

    &:active {
      background-color: $bg-color-accent;
      opacity: 0.6;
    }
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-accent-alternate;


    &:hover {
      background-color: $bg-color-accent;
    }

    &:active {
      background-color: $bg-color-accent;
      opacity: 0.6;
    }
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#telegram-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-accent-alternate;


    &:hover {
      background-color: $bg-color-accent;
    }

    &:active {
      background-color: $bg-color-accent;
      opacity: 0.6;
    }
  }
}
