//  СОЦИАЛЬНЫЕ СЕТИ

.social__list {
  @include list-base;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social__link {
  display: block;
  min-width: 28px;
  min-height: 22px;
  color: $icon-color-primary;

  &::before {
    content: "";
    width: 28px;
    display: block;
    height: 22px;
  }

  &:hover {
    &::before {
      background-color: $bg-color-accent;
    }
  }

  &:active {
    &::before {
      background-color: rgba($bg-color-accent, 0.6);
    }
  }


  &--vkontakte::before {
    mask-image: url("../../icons/stack.svg#vkontakte-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-accent-alternate;
    content: "";
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#youtube-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-accent-alternate;
    content: "";
  }

  &--telegram::before {
    mask-image: url("../../icons/stack.svg#telegram-icon");
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $font-color-accent-alternate;
    content: "";
  }
}
